target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
.mvn
/mvnw
mvnw.cmd
!/src/test/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

.gitignore